@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Siemens Test App</h1>
        <p>C# skills presentation for <a href="https://cz.indeed.com/Siemens-jobs-in-Bradlec?vjk=8e0f449e29a92dd2">Programátor C#, .NET, pro 4.0</a>.</p>
    </div>
